@page "/animalregistration"

<h1>Animal registration</h1>

<p>At @DateTime.Today.ToShortDateString() we have @GetAnimalCountText() animals.</p>

<button class="btn btn-primary" @onclick="AddAnimal">Add animal</button>
<button class="btn btn-primary" @onclick="RemoveAnimal">Remove animal</button>

@code {
    private const int AnimalCapacity = 20;
    private int animalCount = 0;

    private string GetAnimalCountText()
    {
        if (animalCount == 0)
        {
            return "no";
        }
        else if (animalCount == AnimalCapacity)
        {
            return animalCount + " (full capacity)";
        }
        else
        {
            return animalCount.ToString();
        }
    }

    private void AddAnimal()
    {
        if (animalCount < AnimalCapacity)
        {
            animalCount++;
        }
    }

    private void RemoveAnimal()
    {
        if (animalCount > 0)
        {
            animalCount--;
        }
    }
}
